/* Server list */
.listItem__650eb {
    position: relative;
    right: 80px;
    transition-duration: 500ms;
	transition-property: box-shadow, min-width, width;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.listItem__650eb:has(.pill__1f388, .selected_e5445c) {
    right: 0px;
}

.itemsContainer_ef3116:hover .listItem__650eb {
    right: 0px;
}